# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Phyton
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby
12. Visual Basic

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. Vegas
11. Big DL
12. Ggplot2

|Data Science Tools|
|---|
|Anaconda|
|Jupyter Notebooks|
|RStudio|
|Spyder|
|Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/6
hours

33.333333333333336

__Objectives:__

+ Some popular languages
+ Some popular libraries
+ Some data science tools
+ Phyton arithmetic expression examples

## Author
Nil Akyıldız